// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  align:center;
}

#allPostsLink {
  float:left;
  padding: 4px;
}
#loginLink {
  text-align:right;
  padding: 4px;
  width: 80%;
}

.title {
  text-align:center;
  color: #00ced1;
}

.subtitle {
  color:#b8860b;
}

#search {
  min-width:67%;
  font-size:larger;
}

.search {
  border-style: solid;
  border-width: 1px;
  border-color: #afeeee;
  width:85%;
  background-color:#fafad2;
}

input[name="commit"] {
  font-size:larger;
  width: 120px;
}

#admin {
  background-color: #fafad2;
  color: #00ced1;
  width: 50%;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

a {
  padding: 4px;
}

