// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  align:center;
  position:relative;
  top: 80px;
}

.label {
  margin-top: 5px;
}

#allPostsLink {
  float:left;
  padding: 4px;
}

#loginLink {
  text-align:right;
  padding: 4px;
  width: 80%;
}

.title {
  text-align:center;
  color: #ffffff;
}

#header {
  background-color: #008080;
  width:100%;
  position: absolute;
  top: 0;
  right: 0;
}

.subtitle {
  color:#b8860b;
}

#search {
  min-width:58%;
  font-size:larger;
}

.search {
  border-style: solid;
  border-width: 1px;
  border-color: #afeeee;
  width:90%;
  background-color:#fafad2;
  padding: 5px;
  margin: 10px;
}

input[name="commit"] {
  font-size:larger;
  width: 120px;
}

#admin {
  background-color: #fafad2;
  color: #00ced1;
  width: 90%;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

#error {
  color: red;
  font-size: larger;
}

#notice {
  color: green;
  font-size: larger;
}

a {
  padding: 4px;
}

