// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post {
  width:75%;
  margin-left:8px;
  margin-right:8px;
  margin-bottom:4px;
  padding-top:2px;
  padding-right:2px;
  padding-left:8px;
  border-style:outset;
}

.parent {
  background-color:#eee8aa;
}

.reply {
  background-color:#afeeee;
  margin-left:60px;
}

.tagline {
  font-size:smaller;
  padding-bottom:2px;
  padding-top: 10px;
  padding-left: 10px;
}

.signature {
  text-align:right;
}

.conversation {
  float:left;
  text-align:left;
}

.body {
  padding-bottom:4px;
}

.link {
  width:50%;
  text-align:right;
  margin-top:20px;
}
